.home {
    padding: 150px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.home__img img {
    width: 100%;
}

.home__img span {
    width: 70%;
    border: 0.5px solid rgb(20, 20, 20);
    box-shadow: 0 0 3px rgb(0, 255, 255);
    background-color: rgb(20, 20, 20);
}

.home__description {
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.home__description p {
    width: 70%;
}

/* input busqueda por name */
.form__home {
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;

}

.form__home-item {
    position: relative;
    display: flex;
    height: 2.5rem;
    bottom: 15px;
    top: 5px;
    width: 90%;
    margin: 10px 0;
}

.form__home-label {
    position: absolute;
    top: 50%;
    left: 0.65rem;
    transform: translateY(-50%);
    color: #888;
    pad: 0.25rem 0.5rem;
    pointer-events: none;
    transition: transform 0.35s;
    font-size: 0.8rem;
}

.form__home-input {
    height: inherit;
    width: 100%;
    border: 2px solid #888;
    border-radius: 0.5rem;
    outline: none;
    background: #1A1A1A;
    color: #f7f7f7;
    font-size: 1rem;
    text-indent: 1rem;
    transition: transform 0.35s;
}

.form__home-input:focus~.form__home-label {
    border-radius: 5px;
    background: #16141b;
    color: rgb(0, 238, 255);
    transform: translateY(-2.875rem);
}

.form__home-btn {
    padding: 10px;
    width: 40%;
    background-color: #16141b;
    color: #f7f7f7;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 0 3px rgb(0, 238, 255);
    cursor: pointer;
}

.form__home-btn:hover {
    background-color: #f7f7f7;
    color: #1A1A1A;
    transition: 0.3s;
}

/* filtrado por categoria */

.container-filter-desktop{
    width: 100%;
}

.container__category {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* button del filtro */
.home__btn-filtro {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
}

.category__menu {
    width: min(100%, 300px);
    position: fixed;
    top: 100px;
    width: 100%;
    padding: 100px 0;
    z-index: 1;

    height: 50%;
    /* este left es para que se oculte hacia la derecha hasta apretar el boton */
    left: 100%;
    transition: 1.3s;
    background: #1A1A1A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

/* este aparece despues de los 720px */
.category__menu h2 {
    display: none;
}

.category__list {
    color: #d6dbdf;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.3rem;
}

.category__list-item {
    cursor: pointer;
}

.category__list-item:hover {
    color: #C90606;
}

.container__btn-text {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px 0 0;
}

/* esta clase abre el menu de categorias */
.open-category {
    left: 0;
    transition: 1s;
}

/* button para cerrar el menu de categorias */
.cerrar-menu-category {
    left: 100%;
    transition: 1s;
}

.menu__x {
    position: absolute;
    padding: 10px;
    right: 10px;
    bottom: 0px;
    color: #d6dbdf;
    font-size: 1.3rem;
    cursor: pointer;
}

.menu__x:hover {
    color: #C90606;
}


/* estilos de las cards */

.home__container-cards {
    width: 100%;
    padding: var(--padding-mobile);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card__product {
    width: min(100%, 300px);
    height: 400px;
    border-radius: 10px;
    border: 1px solid #808b96;
}

.card__product:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px #1A1A1A;
}

.card__product-header {
    height: 250px;
    padding: 20px;
    border-radius: 1px solid var(--border-color);
    position: relative;
    border-bottom: 1px solid #808b96;
    margin-bottom: 10px;
}

.card__product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease-out;
    opacity: 1;
}

.card__product-header:hover .card__product-img {
    opacity: 0;
    transition: opacity 400ms ease-out
}

.card__product-header:hover .card__product-img-back {
    opacity: 1;
    transition: opacity 400ms ease-out
}

.card__product-img-back {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    object-fit: contain;
    /* z-index: -1; */
    opacity: 0;
    transition: opacity 400ms ease-out
}


.card__product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #1A1A1A;
}

.card__product-title {
    font-size: 0.8rem;
    margin: 0 0 5px 0;
    font-weight: 600;
}

.card__product-body-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}

.card__product-price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
}

.card__product-price-label {
    font-weight: 400;
    color: #1f1f1fc7;
}

.card__product-price-number {
    color: #1A1A1A;
}

.card__product-btn-ver {
    width: 80px;
    height: 30px;
    aspect-ratio: 1;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #17202a;
    color: #d6dbdf;
    box-shadow: 0 0 3px #808b96;
    border: none;
    cursor: pointer;
}

.card__product-btn-ver:hover {
    background-color: #d6dbdf;
    color: #17202a;
    transition: 0.3s;
}

.card__product-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: #17202a;
    border: none;
    color: #d6dbdf;
    box-shadow: 0 0 3px #808b96;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}

.card__product-btn:hover {
    background-color: #d6dbdf;
    color: #17202a;
    transition: 0.3s;
}

@media (min-width: 720px) {
   
    .form__home {
        flex-direction: column;
    }

    .form__home-item {
        width: 50%;
    }

    .form__home-btn {
        width: 20%;
    }

    /* button del filtro */
    .home__btn-filtro {
        display: none;
    }

    /* texto que esta al lado del button filtrar */
    .category__filter-text {
        display: none;
    }

    /* aca mostramos el filtro en desktop */
    .category__menu {
        position: static;
        padding: initial;
        background: transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .category__menu h2 {
        display: contents;
        font-size: 1.3rem;
    }

    .category__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        color: #1A1A1A;
        text-shadow: 0 0 3px #757474;
    }

    .category__list-item {
        cursor: pointer;
    }

    .category__list-item:hover {
        color: #C90606;
        transform: scale(1.1);
    }

}